<!-- Section education -->
<section class="section-timeline-edu">
    <div class="container text-center text-uppercase section-title">
        <i class="fas fa-graduation-cap fa-2x align-middle"></i>
        &nbsp;
        <span class="h2 align-middle">{{ 'timeline.edu.title'|trans({}, 'resume') }}</span>
    </div>
    <div class="container section-bloc">
        <div class="row m-0">
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.edu.2010.school'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.edu.2010.formation'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.edu.2010.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.edu.2010.summary'|trans({}, 'resume') }}</p>
                </div>
            </div>
            <div class="col-12 col-md-2 sep-center sep-left"></div>
            <div class="col-12 col-md-5"></div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-school"></i>
            </button>
        </div>
    </div>

    <div class="container section-bloc">
        <div class="row m-0">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.edu.2007.school'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.edu.2007.formation'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.edu.2007.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.edu.2007.summary'|trans({}, 'resume') }}</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-university"></i>
            </button>
        </div>
    </div>
</section>