<!-- Section experiences -->
<section class="section-timeline-exp">
    <div class="container text-center text-uppercase section-title">
        <i class="fas fa-suitcase fa-2x align-middle"></i>
        &nbsp;
        <span class="h2 align-middle">{{ 'timeline.exp.title'|trans({}, 'resume') }}</span>
    </div>
    <div class="container section-bloc">
        <div class="row m-0">
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.exp.2016.job'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2016.company'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2016.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.exp.2016.summary'|trans({}, 'resume')|raw }}</p>
                    <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                            data-target="#detail-exp-2016">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                </div>
            </div>
            <div class="col-12 col-md-2 sep-center sep-left"></div>
            <div class="col-12 col-md-5"></div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-mobile-alt"></i>
            </button>
        </div>
    </div>

    <div class="container section-bloc">
        <div class="row m-0">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-2 sep-center sep-right"></div>
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.exp.2013.job'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2013.company'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2013.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.exp.2013.summary'|trans({}, 'resume')|raw }}</p>
                    <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                            data-target="#detail-exp-2013">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-laptop"></i>
            </button>
        </div>
    </div>

    <div class="container section-bloc">
        <div class="row m-0">
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.exp.2013b.job'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2013b.company'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2013b.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.exp.2013b.summary'|trans({}, 'resume')|raw }}</p>
                    <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                            data-target="#detail-exp-2013b">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                </div>
            </div>
            <div class="col-12 col-md-2 sep-center sep-left"></div>
            <div class="col-12 col-md-5"></div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-database"></i>
            </button>
        </div>
    </div>

    <div class="container section-bloc">
        <div class="row m-0">
            <div class="col-12 col-md-5"></div>
            <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
            <div class="card col-12 col-md-5">
                <div class="card-body">
                    <p class="h5">{{ 'timeline.exp.2012.job'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2012.company'|trans({}, 'resume') }}</p>
                    <p class="h6">{{ 'timeline.exp.2012.duration'|trans({}, 'resume') }}</p>
                    <p>{{ 'timeline.exp.2012.summary'|trans({}, 'resume')|raw }}</p>
                    <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                            data-target="#detail-exp-2012">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                <i class="fas fa-gift"></i>
            </button>
        </div>
    </div>
</section>