<!-- Section keywords -->
<section class="section-keywords" id="section_keywords">
    <div class="container text-center text-uppercase section-title">
        <i class="fas fa-code fa-2x align-middle"></i>
        &nbsp;
        <span class="h2 align-middle">{{ 'keywords.title'|trans({}, 'resume') }}</span>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'keywords.type'|trans({}, 'resume') }}</th>
                            <th scope="col">{{ 'keywords.name'|trans({}, 'resume') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ 'keywords.program'|trans({}, 'resume') }}</th>
                            <td>PHP，JavaScript，TypeScript，Sass/Less，HTML/CSS，SQL</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.framework'|trans({}, 'resume') }}</th>
                            <td>Symfony，Zend，Joomla，CodeIgniter，Vuejs，Extjs，Angular，Ionic，Cordova，Webpack</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.tool'|trans({}, 'resume') }}</th>
                            <td>jQuery，Bootstrap，ECharts，D3.js，DataTables，Piwik，ESLint，Git，Nodejs，Composer/npm/Yarn</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.project'|trans({}, 'resume') }}</th>
                            <td>Phabricator，Jenkins，Logz.io，GitHub，Virtualmin</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.system'|trans({}, 'resume') }}</th>
                            <td>MySQL，PostgreSQL，Windows，Debian/CentOS，PhpStorm/VSCode，PhotoShop</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.language'|trans({}, 'resume') }}</th>
                            <td>English (CET4，TOEIC 800)，French (B2)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>