<!-- Section keywords -->
<section class="section-keywords" id="section_keywords">
    <div class="container text-center text-uppercase section-title">
        <i class="fas fa-code fa-2x align-middle"></i>
        &nbsp;
        <span class="h2 align-middle">{{ 'keywords.title'|trans({}, 'resume') }}</span>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">{{ 'keywords.type'|trans({}, 'resume') }}</th>
                            <th scope="col">{{ 'keywords.name'|trans({}, 'resume') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{ 'keywords.program'|trans({}, 'resume') }}</th>
                            <td>PHP5/7，JavaScript (ES5/6)，TypeScript，Sass/Less，HTML5/CSS3，SQL</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.framework'|trans({}, 'resume') }}</th>
                            <td>Symfony3/4，Doctrine/Twig，Zend2，Joomla3，CodeIgniter，ExtJS4/5，Angular4/5，Ionic3/4，Cordova7，Webpack，Titanium</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.tool'|trans({}, 'resume') }}</th>
                            <td>jQuery&UI，Bootstrap3/4，AmCharts，Material Design，D3.js，DataTables/SlickGrid，Piwik，JSLint</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.project'|trans({}, 'resume') }}</th>
                            <td>Phabricator，Jenkins，Logz.io，PHPUnit，Svn/Git，Gulp/Compass/NodeJS，Composer/npm/Bower/Yarn，GitHub/Gitea，Virtualmin/CWP</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.system'|trans({}, 'resume') }}</th>
                            <td>Windows，Debian9/CentOS7，PhpStorm/VS Code，PhotoShop，MySQLWorkbench，SoapUI，WinSCP</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'keywords.language'|trans({}, 'resume') }}</th>
                            <td>English (CET4，TOEIC 800)，French (B2)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>