<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Title -->
    <title>{% block title %}{{ 'base.title'|trans({}, 'base') }}{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{ 'base.description'|trans({}, 'base') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icons -->
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<!-- Body -->
{% include "resume/header.html.twig" %}
{% block body %}{% endblock %}
{% include "resume/footer.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>