<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
        {#<img src="{{ asset('images/logo.png') }}" height="30" alt="">#}
        Chenglong GUO
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    {% set lang_active = 'header.' ~ app.request.locale %}
                    {{ 'header.lang'|trans({}, 'resume') }}: {{ lang_active|trans({}, 'resume') }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'zh'}) }}">{{ "header.zh"|trans({}, 'base') }}</a>
                    <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'en'}) }}">{{ "header.en"|trans({}, 'base') }}</a>
                    <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'fr'}) }}">{{ "header.fr"|trans({}, 'base') }}</a>
                </div>
            </li>#}
        </ul>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                {% set lang_active = 'header.' ~ app.request.locale %}
                {{ 'header.lang'|trans({}, 'base') }}: {{ lang_active|trans({}, 'base') }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'zh'}) }}">{{ "header.zh"|trans({}, 'base') }}</a>
                <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'en'}) }}">{{ "header.en"|trans({}, 'base') }}</a>
                <a class="dropdown-item" href="{{ path('resume_page', {'_locale': 'fr'}) }}">{{ "header.fr"|trans({}, 'base') }}</a>
            </div>
        </div>
    </div>
</nav>
