<!-- EXP 2016 - PI Electronqiue -->
<div class="modal fade" id="detail-exp-2016" tabindex="-1" role="dialog" aria-labelledby="label-exp-2016" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-exp-2016">{{ 'timeline.exp.2016.detail.title'|trans({}, 'resume') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ include('resume/exp/detail.2016.' ~ app.request.locale ~ '.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'base.close'|trans({}, 'base') }}</button>
      </div>
    </div>
  </div>
</div>

<!-- EXP 2013 - Tangram -->
<div class="modal fade" id="detail-exp-2013" tabindex="-1" role="dialog" aria-labelledby="label-exp-2013" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-exp-2013">{{ 'timeline.exp.2013.detail.title'|trans({}, 'resume') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ include('resume/exp/detail.2013.' ~ app.request.locale ~ '.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'base.close'|trans({}, 'base') }}</button>
      </div>
    </div>
  </div>
</div>

<!-- EXP 2013b - ScaledRisk -->
<div class="modal fade" id="detail-exp-2013b" tabindex="-1" role="dialog" aria-labelledby="label-exp-2013b" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-exp-2013b">{{ 'timeline.exp.2013b.detail.title'|trans({}, 'resume') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ include('resume/exp/detail.2013b.' ~ app.request.locale ~ '.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'base.close'|trans({}, 'base') }}</button>
      </div>
    </div>
  </div>
</div>

<!-- EXP 2012 - TicketCom -->
<div class="modal fade" id="detail-exp-2012" tabindex="-1" role="dialog" aria-labelledby="label-exp-2012" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label-exp-2012">{{ 'timeline.exp.2012.detail.title'|trans({}, 'resume') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ include('resume/exp/detail.2012.' ~ app.request.locale ~ '.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'base.close'|trans({}, 'base') }}</button>
      </div>
    </div>
  </div>
</div>