{% extends "resume/base.html.twig" %}

{% block body %}
    <!-- Section background -->
    <section class="section-cover"></section>

    <!-- Section card -->
    <section class="section-cv-card">
        <div class="container">
            <div class="card">
                <div class="card-body row m-0">
                    <div class="col-12 col-md-8">
                        <h1 class="card-title font-weight-bold">{{ 'cv.fullname'|trans({}, 'app') }}</h1>
                        <h5 class="card-subtitle">{{ 'cv.title'|trans({}, 'app') }}</h5>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="material-icons">send</i>
                                <a href="mailto:{{ 'cv.email'|trans({}, 'app') }}">{{ 'cv.email'|trans({}, 'app') }}</a>
                            </li>
                            <li class="list-group-item">
                                <i class="material-icons">language</i>
                                <a href="{{ 'cv.website'|trans({}, 'app') }}" target="_self">{{ 'cv.website'|trans({}, 'app') }}</a>
                            </li>
                            <li class="list-group-item">
                                <i class="material-icons">location_city</i>
                                {{ 'cv.location'|trans({}, 'app') }}
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <img src="{{ asset('images/profile_2.jpg') }}" class="mx-auto d-block" alt="Profile image">
                    </div>

                    <div class="col-12 mt-3">
                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm blog"
                                onclick="location.assign('{{ 'cv.blog'|trans({}, 'app') }}')">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm linkedin"
                                onclick="location.assign('{{ 'cv.linkedin'|trans({}, 'app') }}')">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </button>

                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm github"
                                onclick="location.assign('{{ 'cv.github'|trans({}, 'app') }}')">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section summary -->
    <section class="section-summary">
        <div class="container">
            <div class="card">
                <div class="card-header">{{ 'summary.title'|trans({}, 'app') }}</div>
                <div class="card-body row m-0">
                    <div class="col-12"><p>{{ 'summary.body'|trans({}, 'app') }}</p></div>
                    <div class="col-12 text-center">
                        <a role="button" class="btn btn-raised btn-primary" href="#section_contact">{{ 'summary.btn.contact'|trans({}, 'app') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section experiences -->
    <section class="section-timeline-exp">
        <div class="container text-center text-uppercase section-title">
            <i class="material-icons align-middle">card_travel</i>
            <span class="h2 align-middle">{{ 'timeline.exp.title'|trans({}, 'app') }}</span>
        </div>
        <div class="container">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2016.job'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2016.company'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2016.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.exp.2016.summary'|trans({}, 'app') }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#detail-exp-2016">{{ 'timeline.readmore'|trans({}, 'app') }}</button>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">phonelink</i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2013.job'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013.company'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.exp.2013.summary'|trans({}, 'app') }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#detail-exp-2013">{{ 'timeline.readmore'|trans({}, 'app') }}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">public</i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2013b.job'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013b.company'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013b.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.exp.2013b.summary'|trans({}, 'app') }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#detail-exp-2013b">{{ 'timeline.readmore'|trans({}, 'app') }}</button>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">face</i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2012.job'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2012.company'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.exp.2012.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.exp.2012.summary'|trans({}, 'app') }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal" data-target="#detail-exp-2012">{{ 'timeline.readmore'|trans({}, 'app') }}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">extension</i>
                </button>
            </div>
        </div>
    </section>

    <!-- Section education -->
    <section class="section-timeline-edu">
        <div class="container text-center text-uppercase section-title">
            <i class="material-icons">school</i>
            <span class="h2 align-middle">{{ 'timeline.edu.title'|trans({}, 'app') }}</span>
        </div>
        <div class="container">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.edu.2010.school'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.edu.2010.formation'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.edu.2010.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.edu.2010.summary'|trans({}, 'app') }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">phonelink</i>
                </button>
            </div>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.edu.2007.school'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.edu.2007.formation'|trans({}, 'app') }}</p>
                        <p class="h6">{{ 'timeline.edu.2007.duration'|trans({}, 'app') }}</p>
                        <p>{{ 'timeline.edu.2007.summary'|trans({}, 'app') }}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="material-icons">public</i>
                </button>
            </div>
        </div>
    </section>

    <!-- Section contact me -->
    <section class="section-contact-me" id="section_contact">
        <div class="container text-center text-uppercase section-title">
            <i class="material-icons align-middle">contact_mail</i>
            <span class="h2 align-middle">{{ 'contact.title'|trans({}, 'app') }}</span>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-6 pl-0 pr-2">
                    <div id="contactIndicators" class="carousel slide h-100" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#contactIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#contactIndicators" data-slide-to="1"></li>
                            <li data-target="#contactIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                {% set slide1Img = 'https://www.quape.com/wp-content/uploads/2017/07/ionic.jpg' %}
                                <div class="h-100 w-100 contact-carousel-item" style="background-image:url('{{ slide1Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Ionic: The top open source framework for building web progress apps.</p>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                {% set slide2Img = 'https://cdn-images-1.medium.com/max/2000/1*FDIQCYA3BNp9Ek-tqGeQjA.png' %}
                                <div class="h-100 w-100 contact-carousel-item" style="background-image:url('{{ slide2Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Angular: Progressive Web Apps.</p>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                {% set slide3Img = 'https://symfony.com/images/v5/promos/symfony-4/symfony-4.jpg' %}
                                <div class="h-100 w-100 contact-carousel-item" style="background-image:url('{{ slide3Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Symfony: Sets of reusable PHP components and a PHP framework for web projects.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#contactIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{ 'contact.last'|trans({}, 'app') }}</span>
                        </a>
                        <a class="carousel-control-next" href="#contactIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{ 'contact.next'|trans({}, 'app') }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 pr-0 pl-2">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{{ path('contact_email') }}">
                                <div class="form-group">
                                    <label for="c_y_email">{{ 'contact.your_email'|trans({}, 'app') }}</label>
                                    <input type="email" class="form-control" id="c_y_email" name="c_y_email" aria-describedby="c_y_emailHelp" required>
                                    <small id="c_y_emailHelp" class="form-text text-muted">{{ 'contact.your_email_tip'|trans({}, 'app') }}</small>
                                </div>
                                <div class="form-group">
                                    <label for="c_y_subject">{{ 'contact.your_subject'|trans({}, 'app') }}</label>
                                    <input type="text" class="form-control" id="c_y_subject" name="c_y_subject" required>
                                </div>
                                <div class="form-group">
                                    <label for="c_y_message">{{ 'contact.your_message'|trans({}, 'app') }}</label>
                                    <textarea class="form-control" id="c_y_message" name="c_y_message" rows="3" required></textarea>
                                </div>
                                <div class="checkbox">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="c_y_cc" name="c_y_cc">
                                        {{ 'contact.your_cc'|trans({}, 'app') }}
                                    </label>
                                </div>
                                <div class="mt-4 text-right">
                                    <button type="submit" class="btn btn-raised btn-primary">{{ 'contact.send'|trans({}, 'app') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include "resume/exp.html.twig" %}
{% endblock %}