{% extends "resume/base.html.twig" %}

{% block body %}
    <!-- Section background -->
    <section class="section-cover"></section>

    <!-- Section card -->
    <section class="section-cv-card">
        <div class="container">
            <div class="card">
                <div class="card-body row m-0">
                    <div class="col-12 col-md-8">
                        <h1 class="card-title font-weight-bold">{{ 'cv.fullname'|trans({}, 'resume') }}</h1>
                        <h5 class="card-subtitle">{{ 'cv.title'|trans({}, 'resume') }}</h5>
                        <hr>
                        <ul class="list-group">
                            <li class="list-group-item p-2">
                                <i class="fas fa-envelope fa-lg fa-fw"></i>
                                <a href="mailto:{{ 'cv.email'|trans({}, 'resume') }}">{{ 'cv.email'|trans({}, 'resume') }}</a>
                            </li>
                            <li class="list-group-item p-2">
                                <i class="fas fa-globe fa-lg fa-fw"></i>
                                <a href="{{ 'cv.website'|trans({}, 'resume') }}"
                                   target="_self">{{ 'cv.website'|trans({}, 'resume') }}</a>
                            </li>
                            <li class="list-group-item p-2">
                                <i class="fas fa-map-marker-alt fa-lg fa-fw"></i>
                                {{ 'cv.location'|trans({}, 'resume') }}
                            </li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-4">
                        <img src="{{ asset('build/images/profile.jpg') }}" class="mx-auto d-block" alt="Profile image">
                    </div>

                    <div class="col-12 mt-3">
                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm blog"
                                onclick="window.open('{{ 'cv.blog'|trans({}, 'resume') }}')"
                                data-toggle="tooltip" title="{{ 'cv.blog.tlp'|trans({}, 'resume') }}">
                            <i class="fab fa-joomla"></i>
                        </button>

                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm linkedin"
                                onclick="window.open('{{ 'cv.linkedin'|trans({}, 'resume') }}')"
                                data-toggle="tooltip" title="{{ 'cv.linkedin.tlp'|trans({}, 'resume') }}">
                            <i class="fab fa-linkedin-in"></i>
                        </button>

                        <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm github"
                                onclick="window.open('{{ 'cv.gitea'|trans({}, 'resume') }}')"
                                data-toggle="tooltip" title="{{ 'cv.gitea.tlp'|trans({}, 'resume') }}">
                            <i class="fab fa-github-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section summary -->
    <section class="section-summary">
        <div class="container">
            <div class="card">
                <div class="card-header">{{ 'summary.title'|trans({}, 'resume') }}</div>
                <div class="card-body row m-0">
                    <div class="col-12"><p>{{ 'summary.body'|trans({}, 'resume') }}</p></div>
                    <div class="col-12 text-center">
                        <a role="button" class="btn btn-raised btn-primary"
                           href="#section_contact">{{ 'summary.btn.contact'|trans({}, 'resume') }}</a>
                        <a role="button" class="btn btn-raised btn-primary" target="_blank"
                           href="{{ asset('files/CV_ChenglongGUO.pdf') }}">{{ 'summary.btn.dlcv'|trans({}, 'resume') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section experiences -->
    <section class="section-timeline-exp">
        <div class="container text-center text-uppercase section-title">
            <i class="fas fa-suitcase fa-2x align-middle"></i>
            &nbsp;
            <span class="h2 align-middle">{{ 'timeline.exp.title'|trans({}, 'resume') }}</span>
        </div>
        <div class="container section-bloc">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2016.job'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2016.company'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2016.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.exp.2016.summary'|trans({}, 'resume')|raw }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                                data-target="#detail-exp-2016">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-mobile-alt"></i>
                </button>
            </div>
        </div>

        <div class="container section-bloc">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2013.job'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013.company'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.exp.2013.summary'|trans({}, 'resume')|raw }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                                data-target="#detail-exp-2013">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-laptop"></i>
                </button>
            </div>
        </div>

        <div class="container section-bloc">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2013b.job'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013b.company'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2013b.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.exp.2013b.summary'|trans({}, 'resume')|raw }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                                data-target="#detail-exp-2013b">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-database"></i>
                </button>
            </div>
        </div>

        <div class="container section-bloc">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.exp.2012.job'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2012.company'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.exp.2012.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.exp.2012.summary'|trans({}, 'resume')|raw }}</p>
                        <button type="button" class="btn btn-sm btn-primary float-right" data-toggle="modal"
                                data-target="#detail-exp-2012">{{ 'timeline.readmore'|trans({}, 'resume') }}</button>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-gift"></i>
                </button>
            </div>
        </div>
    </section>

    <!-- Section education -->
    <section class="section-timeline-edu">
        <div class="container text-center text-uppercase section-title">
            <i class="fas fa-graduation-cap fa-2x align-middle"></i>
            &nbsp;
            <span class="h2 align-middle">{{ 'timeline.edu.title'|trans({}, 'resume') }}</span>
        </div>
        <div class="container section-bloc">
            <div class="row m-0">
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.edu.2010.school'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.edu.2010.formation'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.edu.2010.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.edu.2010.summary'|trans({}, 'resume') }}</p>
                    </div>
                </div>
                <div class="col-12 col-md-2 sep-center sep-left"></div>
                <div class="col-12 col-md-5"></div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-school"></i>
                </button>
            </div>
        </div>

        <div class="container section-bloc">
            <div class="row m-0">
                <div class="col-12 col-md-5"></div>
                <div class="col-12 col-md-2 sep-center sep-right sep-no-height"></div>
                <div class="card col-12 col-md-5">
                    <div class="card-body">
                        <p class="h5">{{ 'timeline.edu.2007.school'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.edu.2007.formation'|trans({}, 'resume') }}</p>
                        <p class="h6">{{ 'timeline.edu.2007.duration'|trans({}, 'resume') }}</p>
                        <p>{{ 'timeline.edu.2007.summary'|trans({}, 'resume') }}</p>
                    </div>
                </div>
                <button type="button" class="btn btn-primary bmd-btn-fab sep-point">
                    <i class="fas fa-university"></i>
                </button>
            </div>
        </div>
    </section>

    <!-- Section skills -->
    <section class="section-skills" id="section_skills">
        <div class="container text-center text-uppercase section-title">
            <i class="fas fa-sliders-h fa-2x align-middle"></i>
            &nbsp;
            <span class="h2 align-middle">{{ 'skills.title'|trans({}, 'resume') }}</span>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="row m-0">
                        {% for i in 1..3 %}
                            {% set title = 'skills.' ~ i ~ 'th.title' %}

                            <div class="col-12 col-md-4 section-bloc">
                                <h5 class="text-center">{{ title|trans({}, 'resume') }}</h5>

                                {% for j in 1..4 %}
                                    {% set name = 'skills.' ~ i ~ 'th.' ~ j ~ '.name' %}
                                    {% set pert = 'skills.' ~ i ~ 'th.' ~ j ~ '.pert' %}

                                    <div class="pb-1 pt-4">
                                        <span>{{ name|trans({}, 'resume') }}</span>
                                        <span class="float-right">{{ pert|trans({}, 'resume') }}
                                            <i class="fas fa-percentage"></i></span>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width:{{ pert|trans({}, 'resume') }}%"
                                             aria-valuenow="{{ pert|trans({}, 'resume') }}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section contact me -->
    <section class="section-contact-me" id="section_contact">
        <div class="container text-center text-uppercase section-title">
            <i class="fas fa-at fa-2x align-middle"></i>
            &nbsp;
            <span class="h2 align-middle">{{ 'contact.title'|trans({}, 'resume') }}</span>
        </div>

        <div class="container">
            <div class="row m-0">
                <div class="col-12 col-md-6 section-contact-left">
                    <div id="contactIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#contactIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#contactIndicators" data-slide-to="1"></li>
                            <li data-target="#contactIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                {% set slide1Img = asset('build/images/ionic.jpg') %}
                                <div class="h-100 w-100 contact-carousel-item"
                                     style="background-image:url('{{ slide1Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Ionic: The top open source framework for building web progress apps.</p>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                {% set slide2Img = asset('build/images/ionic.jpg') %}
                                <div class="h-100 w-100 contact-carousel-item"
                                     style="background-image:url('{{ slide2Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Angular: Progressive Web Apps.</p>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                {% set slide3Img = asset('build/images/ionic.jpg') %}
                                <div class="h-100 w-100 contact-carousel-item"
                                     style="background-image:url('{{ slide3Img }}')"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Symfony: Sets of reusable PHP components and a PHP framework for web
                                        projects.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#contactIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{ 'contact.last'|trans({}, 'resume') }}</span>
                        </a>
                        <a class="carousel-control-next" href="#contactIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">{{ 'contact.next'|trans({}, 'resume') }}</span>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 section-contact-right">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" action="{{ path('contact_email') }}">
                                <div class="form-group">
                                    <label for="c_y_email">{{ 'contact.your_email'|trans({}, 'resume') }}</label>
                                    <input type="email" class="form-control" id="c_y_email" name="c_y_email"
                                           aria-describedby="c_y_emailHelp" required>
                                    <small id="c_y_emailHelp"
                                           class="form-text text-muted">{{ 'contact.your_email_tip'|trans({}, 'resume') }}</small>
                                </div>
                                <div class="form-group">
                                    <label for="c_y_subject">{{ 'contact.your_subject'|trans({}, 'resume') }}</label>
                                    <input type="text" class="form-control" id="c_y_subject" name="c_y_subject"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label for="c_y_message">{{ 'contact.your_message'|trans({}, 'resume') }}</label>
                                    <textarea class="form-control" id="c_y_message" name="c_y_message" rows="3"
                                              required></textarea>
                                </div>
                                <div class="checkbox">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="c_y_cc" name="c_y_cc" checked>
                                        {{ 'contact.your_cc'|trans({}, 'resume') }}
                                    </label>
                                </div>
                                <div class="mt-4 text-right">
                                    <button type="submit"
                                            class="btn btn-raised btn-primary">{{ 'contact.send'|trans({}, 'resume') }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "resume/modal.html.twig" %}
{% endblock %}